.page-header {

    margin: 0 0;
    height: 115px;
}

.page-header .page-header-top{

    height: 65px;
}

.page-header .page-header-top .page-logo{

    height: 100%;
}

.page-header .page-header-top .page-logo .logo-default{

    margin: 0 0 0 0;

}

.logo-default {

    width: 50%;
    height: 80%;
}

.page-header .container, .page-header .container-fluid{

    margin-right: 15px;
}

.btn:not(.btn-sm):not(.btn-lg){

    height: 30px;
}

.navbar-form .form-control{

    height: 30px;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle{

    padding: 0;
    margin-top: 10px;

}

.page-header .page-header-top .top-menu{

    margin-top: 10px;
    background-color: white;
}

.page-header .page-header-menu {

    clear: none;
    background: #0072ff;
}


.container-fluid{

padding-right: 0;
padding-left: 0;
}

.color-nav{

    color: white;

}

.carousel-home{

    height: 400px;
}

@media screen and (min-width: 768px){

    .jumbotron{

        padding: 0;
    }
}

.jumbotron{

    margin-bottom: 0;
}

/* carousel */
.media-theaters{

    height: 100%;

}

/* carousel */
.media-carousel
{
    margin: 30px 0;
    padding: 0 40px 0 40px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin: auto 0 !important;
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin: auto 0 !important;

}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 200px;
    height: 250px;
    display: block;
    margin: 0 auto !important;
}


/*end carousel */


.footer-bs {
    background-color: #222;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 0px;
    border-top-left-radius: 0px;

}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

